.login-footer{
  background-color: var(--pastel-green);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
              4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-size: 10pt;
  margin-top: 1em;
}
