form{
  background-color: var(--transparent-green);
  padding: 0.5rem 1.5rem 1.5rem 1.5em;
  border-radius: 1em;

  input.form-control{
    background-color: var(--white) !important;
  }

  button{
    width: 100%;
  }

}

p > a{
  color: var(--dark-green);
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 990px) {
  .btn.btn-primary.btn-block {
    margin-top: 1rem;
  }
}
