<section class="container">

  <form class="formulario" [formGroup]="newItemForm" (submit)="addItem()">
      <h2 class="formulario_titulo">Adicionar Itens</h2>

      <div class="form-field">
        <label class="form-field_label" for="itemName">Nome do Item</label>
        <input class="form-field_input" id="itemName" type="text" name="itemName" formControlName="itemName">
        <div *ngIf="newItemForm.get('itemName')?.errors?.required && newItemForm.get('itemName')?.touched">Digite o nome do novo item.</div>
        <div *ngIf="newItemForm.get('itemName')?.errors?.existingItemName">Item existente!</div>
      </div>

      <div class="form-field">
        <label class="form-field_label" for="itemPrice">Preço</label>
        <input class="form-field_input" id="itemPrice" type="number" name="itemPrice" formControlName="itemPrice">
        <div *ngIf="newItemForm.get('itemPrice')?.errors?.required && newItemForm.get('itemPrice')?.touched">Digite o preço do novo item.</div>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="itemType" id="item-type-unit" formControlName="itemType" value="un">
        <label class="form-check-label" for="item-type-unit">
          Unitário
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="itemType" id="item-type-weight" formControlName="itemType" value="kg">
        <label class="form-check-label" for="item-type-weight">
          Pesado
        </label>
      </div>

      <div class="botao-wrapper">
        <button class="botao" type="reset">Limpar</button>
      <button class="botao" type="submit">Entrar</button>
    </div>
  </form>
</section>


