
img.img-fluid {
    width: 22rem;
}

.buttons-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  button{
    width: 48%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 35rem;
  }
}


